* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  padding: 20px;
}

.box1,
.box2 {
  width: 300px;
}

.box1 > span,
.box2 > span {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  font-size: 20px;
  cursor: pointer;
}

.box1 > span {
  border-radius: 0 10px 10px 0;
  color: #676a6f;
}

.box1 .active {
  background: #f5f5f5;
}

.box1 > span:hover {
  background: #e8f0fe;
  color: #2f86e1;
}

i {
  display: inline-block;
  width: 50px;
}

.box2 > span {
  border: 1px solid rgba(103, 106, 111, 0.2);
  border-right: none;
  border-left: none;
  position: relative;
  color: rgba(103, 106, 111, 0.8);
}

/* .box2 > span::after {
  content: "(1234)";
  color: #676a6f;
  font-size: 12px;
  position: absolute;
  right: 10px;
} */

.box2 > span:hover {
  color: rgba(0, 0, 0, 0.8);
}

.box2 .active {
  color: #000;
}

.small-text {
  color: rgba(103, 106, 111, 0.8);
  font-size: 12px;
  position: absolute;
  right: 10px;
}

.box3,
.box4 {
  display: flex;

  padding: 20px;
}

.box3 {
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box3 .item {
  width: 230px;
  height: 340px;
}

.item .product-img {
  width: 100%;
  position: relative;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.tag {
  position: absolute;
  width: 40px;
  height: 40px;
  background: red;
  color: #fff;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  left: 0;
  top: 10px;
}

.product-info {
  padding: 10px;
}

.category {
  color: rgba(103, 106, 111, 0.8);
}

.old-price {
  color: rgba(103, 106, 111, 0.8);
  text-decoration: line-through;
}

.new-price {
  font-weight: bold;
}

.box4 {
  gap: 30px;
  flex-wrap: wrap;
}

.col {
  width: 20%;
}

.upper-text {
  text-transform: uppercase;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.upper-text::after {
  content: "";
  width: 30px;
  height: 3px;
  margin-top: 8px;
  display: block;
  background: rgba(128, 128, 128, 0.7);
}

.box4 span {
  display: block;
  width: 100%;
  padding: 5px 0;
}

.col-3 span {
  margin-bottom: 12px;
}

.col-3 .upper-text {
  margin-bottom: 10px;
}

.box5 {
  width: 400px;
  padding: 10px;
}

.box5 h3 {
  font-size: 24px;
}

.center {
  text-align: center;
  font-size: 16px;
}

form * {
  font-size: 18px;
  width: 100%;
}

form input {
  padding: 4px;
  font-size: 16px;
  margin: 8px 0;
}

.right {
  text-align: right;
  margin-top: 5px;
  font-size: 16px;
}

.right a {
  text-decoration: none;
  font-size: 16px;
}

.box5 button {
  margin: 20px 0;
  outline: none;
  border: none;
  padding: 10px 0;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
}

.normal-btn {
  background: #007dff;
  border-radius: 2px;
}

.normal-btn:hover,
.connect-btn:hover {
  background: rgba(0, 125, 255, 0.6);
}

.connect-btn {
  border-radius: 10px;
  background: #266fa4;
}

.connect-btn i {
  width: unset;
  padding: 0 8px;
  vertical-align: middle;
}

.box6 {
  width: 300px;
  position: relative;
  margin: 20px;
}

.box6 li {
  cursor: pointer;
  padding: 8px;
  list-style: none;
  background: #aad862;
  border: 1px solid #86be47;
  font-size: 18px;
}

.box6 > ul > li:hover {
  background: #78b43d;
  color: #fff;
}

.box6 > ul > li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f0da";
  margin-right: 5px;
  color: #fff;
}

.sub-menu li {
  background: #78b43d;
  color: #000;
  width: 300px;
  border: 1px solid #96c953;
  padding-left: 25px;
}

.box6 .parent:hover .sub-menu {
  display: block;
}

.box6 .sub-menu {
  position: absolute;
  display: none;
  right: 0;
  top: 0;
  transform: translateX(100%);
}
